<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993792621012-vcn3am9g5m67ec1q2jca0ajflj3hdecs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993792621012-vcn3am9g5m67ec1q2jca0ajflj3hdecs</string>
	<key>API_KEY</key>
	<string>AIzaSyBTSrheYiZeufRnHjbU4FmM5MiQCoMChh8</string>
	<key>GCM_SENDER_ID</key>
	<string>993792621012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rocket-help-dbc41</string>
	<key>STORAGE_BUCKET</key>
	<string>rocket-help-dbc41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993792621012:ios:e71e51a97dee8c3b03fe41</string>
</dict>
</plist>